<form method="get" action="/search">
    <input
        id="footer-search-bar"
        type="text"
        name="query"
        autocorrect="off"
        spellcheck="off"
        autocapitalize="off"
        autocomplete="off"
        placeholder="Search this site..."
    />
</form>
<p id="legal">
    Copyright Nathan Friend &copy; 2012
    <!--{{ site.time | date: '%Y' }}-->
    | <a href="{{ '/attributions' | relative_url }}">Attributions</a>
</p>
<p id="deployment-info">
    <span>
        Site last deployed on %%DEPLOY_DATE%% at %%DEPLOY_TIME%% UTC for commit
        <a
            href="%%COMMIT_URL%%"
            class="tooltip-target"
            title="%%COMMIT_MESSAGE%%"
            data-tippy-placement="top"
            data-tippy-delay="250"
        >
            %%COMMIT_SHA%%
        </a>
    </span>

    <a
        class="pipeline-status-link"
        href="https://gitlab.com/nfriend/website-3.0/-/pipelines/latest"
        target="_blank"
    >
        <img
            src="https://gitlab.com/nfriend/website-3.0/badges/master/pipeline.svg"
            alt="GitLab pipeline status"
        />
    </a>

    <a class="view-source-link" href="https://gitlab.com/nfriend/nuxt-resume">
        View the source on GitLab
        <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
        >
            <title>GitLab</title>
            <path
                fill="currentColor"
                d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"
            ></path>
        </svg>
    </a>
</p>
