<script src="{{ '/assets/js/scale.fix.min.js' | relative_url }}"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.2/tippy.all.min.js"
    integrity="sha256-EFZoge4iactaO4A0YELFBg3SaveV/nICew6pctkWDpU="
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.0/anchor.min.js"
    integrity="sha512-G2OGlm41XXw+fcgDcRPjVYEn7qCY6qiKWNqDGT37SnKh0qtRXTuKZ5/UQR0kDN0PZRNWcGExd3lAeqEH0I36bQ=="
    crossorigin="anonymous"
></script>

{% if page.includeSearchScripts %}
<script
    src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js"
    integrity="sha384-S8jhNOGc0AfeLoiD+nFdrcS/JFKUD6PB1hgDgsygZRANQdVm6wM7KpKf0U53Utad"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0/dist/instantsearch.production.min.js"
    integrity="sha384-QlRusneySqU4Rf/1pbb7CvVnHxpjB9Xu+6FxKFKBe0TJObboUW58/TtLAo6QbHNf"
    crossorigin="anonymous"
></script>
<script src="assets/js/search-page.js"></script>
{% endif %} {% unless page.hideComments %}
<!-- Discourse integration setup -->

<!--
<script type="text/javascript">
    DiscourseEmbed = {
        discourseUrl: 'https://discourse.nathanfriend.io/',

        {% if page.layout == 'home' %}
        discourseEmbedUrl: '{{ site.posts[0].url | absolute_url }}'
        {% endif %}

        {% if page.layout != 'home' %}
        discourseEmbedUrl: '{{ page.url | absolute_url }}'
        {% endif %}

    };

    (function () {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script> 
-->
{% endunless %}

<!-- Page setup -->
<script>
    function setupPage() {
        // setup tippy tooltips on social media icons
        tippy('.tooltip-target', {
            arrow: true,
            placement: 'bottom',
            animation: 'fade',
            duration: [0, 300]
        });

        // add page anchors to h1 - h6 elements in the content
        anchors.add(
            '.content-container h1,' +
                '.content-container h2,' +
                '.content-container h3,' +
                '.content-container h4,' +
                '.content-container h5,' +
                '.content-container h6'
        );
    }

    window.onload = setupPage;
</script>
