<header>
    <a href="/about-me">
        <img src="/assets/img/profile.jpg" class="profile-image">
    </a>
    <a class="site-title" href="/">
        <h1>{{ site.title }}</h1>
    </a>
    <p class="site-description">{{ site.description }}</p>

    <br class="hidden-xs" />

    <div class="sidebar-section-container">
        <a href="https://goo.gl/maps/adsVkHQPupK2" class="sidebar-item extra-padding">
            <img src="/assets/img/fontawesome/map-marker-alt.svg" class="sidebar-icon">Charlottetown, PE, Canada
        </a>
        <a href="https://github.com/nfriend" class="sidebar-item extra-padding">
            <img src="/assets/img/fontawesome/github.svg" class="sidebar-icon">nfriend
        </a>
        <a href="https://stackoverflow.com/users/1063392/nathan-friend" class="sidebar-item extra-padding">
            <img src="/assets/img/fontawesome/stack-overflow.svg" class="sidebar-icon">nathan-friend
        </a>
        <a href="https://www.linkedin.com/in/nfriend/" class="sidebar-item extra-padding">
            <img src="/assets/img/fontawesome/linkedin.svg" class="sidebar-icon">nfriend
        </a>
        <a href="mailto:contact@nathanfriend.io" class="sidebar-item extra-padding">
            <img src="/assets/img/fontawesome/envelope.svg" class="sidebar-icon">contact@nathanfriend.io
        </a>
    </div>

    <!-- <br />

    <p class="sidebar-header">Resources</p>
    <div class="sidebar-section-container">
        <a href="/about-me" class="sidebar-item">About Me</a>
        <a href="/projects" class="sidebar-item">Projects</a>
        <a href="/contact" class="sidebar-item">Contact</a>
    </div>

    <br />

    <p class="sidebar-header">Recent posts</p>
    <div class="sidebar-section-container">
        {% for post in site.posts limit:5 %}
        <a href="{{ post.url }}" class="sidebar-item">{{ post.title }}</a>
        {% endfor %}
        <span>
            <p style="margin-top: 10px;">
                <a href="/all-posts">All posts</a>
            </p>
        </span>
    </div> -->

</header>