body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    overflow-y: scroll;
}

.sidebar {
    text-align: center;

    .profile-image {
        border-radius: 50%;
        border: 5px solid #aaa;

        &:hover {
            border-color: #888;
        }
    }

    .site-title h1 {
        margin-top: 20px;
    }

    .sidebar-header {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .sidebar-links-container {
        a {
            font-size: 16px;
            margin: 10px;
        }
    }

    .site-description {
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .profile-links-container {
        margin-top: 5px;
        
        a {
            padding: 7px;

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: #267cb9;
                }
            }

            &:hover {
                text-decoration: none;
                svg path {
                    fill: #015179;
                }
            }
        }
    }
}

.post-list-title {
    float: left;
    margin-bottom: 5px;
    color: inherit;
}

a {
    &:hover,
    &:focus {
        font-weight: normal;
        color: #015179;
        text-decoration: underline;
    }

    h1 {
        color: inherit;
    }
}

.header-section {
    padding-bottom: 30px;
    a {
        font-size: 18px;
        margin-right: 20px;
    }
}

.footer-section {
    #legal {
        font-size: 12px;
    }
}

@media print, screen and (min-width: 961px) {
    .sidebar-item {
        display: block;
        padding-left: 1em;
        text-indent: -1em;

        &.extra-padding {
            padding-bottom: 5px;
        }
    }

    .post-list-title {
        max-width: 360px;
    }

    .post-list-date {
        float: right;
        margin-bottom: 0;
    }
}

@media print, screen and (max-width: 960px) {
    .sidebar-item + .sidebar-item:before {
        content: ' | ';
    }

    .hidden-xs {
        display: none;
    }

    .post-list-date {
        clear: both;
    }

    header {
        padding-right: 0px;
    }

    section {
        border: none;

        &.content-section {
            margin-top: 20px;
        }
    }
}

// The following three rules cause the profile image to shrink and eventually
// disappear in scenarios where the screen is in non-mobile mode (the width
// is greater than 960px) but is also very short.  This allows the social media
// icons to always be accessible.
@media print,
    screen and (min-width: 961px) and (max-height: 660px) and (min-height: 590px) {
    .sidebar {
        .profile-image {
            width: 200px;
        }
    }
}

@media print,
    screen and (min-width: 961px) and (max-height: 589px) and (min-height: 540px) {
    .sidebar {
        .profile-image {
            width: 150px;
        }
    }
}

@media print, screen and (min-width: 961px) and (max-height: 539px) {
    .sidebar {
        .profile-image {
            display: none;
        }

        .site-title h1 {
            margin-top: 0;
        }
    }
}
