<!doctype html>
<html>
{% include head.html %}

<body>
    <div class="wrapper">
        {% include sidebar.html %}
        <section class="header-section">
            {% include page-header.html %}
        </section>
        <section class="content-section">
            {% for post in site.posts %}
            <a href="{{ post.url }}">
                <h2 class="post-list-title">{{ post.title }}</h2>
            </a>
            <p class="post-list-date">
                {{ post.date | date: "%B %-d, %Y" }}
            </p>
            <div style="clear: both; float: none;"></div>
            {{ post.excerpt }} {% endfor %}
        </section>
        <section class="footer-section">
            {% include page-footer.html %}
        </section>
    </div>
</body>

</html>