<!doctype html>
<html lang="en-US">
{% include head.html %}

<body>
    <div class="wrapper">

        <!--[if lt IE 10]>
        {% include old-browser-warning.html %}
        <![endif]-->
        
        {% include sidebar.html %}
        <section class="content-section">
            <h1 style="margin-bottom: 10px;">Blog</h1>
            <hr />
            {% for post in site.posts %}
            <a href="{{ post.url | relative_url }}">
                <h2 class="post-list-title">{{ post.title }}</h2>
            </a>
            <p class="post-list-date">
                {{ post.date | date: "%B %-d, %Y" }}
            </p>
            <div style="clear: both; float: none;"></div>
            <p>{{ post.excerpt | strip_html }}</p>
            {% endfor %}
        </section>
        <section class="footer-section">
            {% include page-footer.html %}
        </section>
    </div>
    {% include scripts.html %}
</body>

</html>